// colors
$color-text-primary:          #15171A !default;
$color-text-grey:             #666666 !default;
$color-brand-white:           #ffffff !default;
$color-brand-primary:         #007EDB !default;

// sizes
$screen-md-min:               1024px !default;
$default-font-size:           16px !default;
$heading-font-size:           20px !default;

// margins / paddings
$indent:                      20px !default;
